<div class="footer">
  <div class="v-row">
    <div class="v-col + footer-column">
      Copyright &copy; 2021
    </div>
    <div class="v-col + footer-column">
      <a class="normal-link" routerLink="/about">About</a>
    </div>
    <!-- <div class="v-col + footer-column">
      <a class="normal-link" routerLink="/"><h2>My Website</h2></a>
      <h5><small>This doesn't go anywhere special yet</small></h5>
    </div> -->
    <div class="v-col + footer-column">
      Sign Up
    </div>
    <div class="v-col + footer-column">
      Sign In
    </div>
  </div>
</div>
